* { margin: 0;}
html,body{ height:100%; padding-top:0;}

img {
  display:block;
  max-width:100%;
  height:auto
}

pre {
  -moz-tab-size:4;
  -o-tab-size:4;
  -webkit-tab-size:4;
  -ms-tab-size:4;
  tab-size:4;
}

code {
  color: #515153;
}

/* Wrapper for page content to push down footer */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

.content {
  padding-top: 80px;
}

.download-button {
  margin-right: 10px;
}

.community-icons {
  text-align: center;
  padding-top: 20px;
}

/* YAML styles */
.yaml .l-Scalar-Plain { color: #008000; }
.yaml .p-Indicator { color: #666666; font-weight: bold; } /* Operator */

.tree {
  padding-left: 5px;
  padding-right: 5px;
}

.tree ul {
  padding-left: 15px;
}

.tree li {
    list-style-type:none;
    margin:0;
    padding:5px 5px 0px 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-10px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:14px;
    width:10px
}
.tree li.parent_li>i {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}

i.fa-slack {
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
}
