@charset "UTF-8";

/* Note types */
.note {
    margin: 30px 0;
    padding: 20px 20px 24px;
    padding-left: 50px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    position: relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #7e6d42;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdlNmQ0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzRlMzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7e6d42), to(#5c4e35));
    background-image: -webkit-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
    background-image: -moz-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
    background-image: -o-linear-gradient(top, #7e6d42 0%, #5c4e35 100%);
    background-image: linear-gradient(to bottom, #7e6d42 0%, #5c4e35 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35', GradientType=0 );
}

@media (max-width: 568px) { .note {
        margin-right: -10px;
    }
}

@media (min-width: 768px) { .note {
        margin-left: -10px;
    }
}

.note:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #222 #222 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
}

.note h5, .note p {
    margin: 0;
    color: #fff;
}

.note h5 {
    line-height: 1.5em;
    font-weight: 900;
    font-style: normal;
}

.note p {
    font-weight: 400;
    font-size: 14px;
}

.info {
    background-color: #0389aa;
    color: #fff;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzODlhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDYxN2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#00617f));
    background-image: -webkit-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: -moz-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: -o-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#00617f', GradientType=0 );
}

.warning {
    background-color: #9e2812;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllMjgxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZjBkMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
    background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d', GradientType=0 );
}

.unreleased {
    background-color: #cd9239;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkOTIzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMjc1MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cd9239), to(#a27528));
    background-image: -webkit-linear-gradient(top, #cd9239 0%, #a27528 100%);
    background-image: -moz-linear-gradient(top, #cd9239 0%, #a27528 100%);
    background-image: -o-linear-gradient(top, #cd9239 0%, #a27528 100%);
    background-image: linear-gradient(to bottom, #cd9239 0%, #a27528 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528', GradientType=0 );
}

.info:before {
    border-color: transparent #00617f #00617f transparent;
}

.warning:before {
    border-color: transparent #6f0d0d #6f0d0d transparent;
}

.unreleased:before {
    border-color: transparent #664719 #664719 transparent;
}

.note:after {
    content: '\2605';
    color: #fc0;
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.info:after {
    content: '\24D8';
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.warning:after {
    content: '\203C';
    color: #fc0;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.unreleased:after {
    content: '\2692';
    color: #2b2a12;
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 38px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
