<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta property="st:info" content="section:'{% currentsection %}'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{root}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{root}}css/font-awesome.min.css">
    <link rel="stylesheet" href="{{root}}css/docs.css">
    <link rel="stylesheet" href="{{root}}css/main.css">
    <link rel="stylesheet" href="{{root}}css/syntax.css">
</head>
