<script type="text/javascript" charset="utf-8" src="{{root}}js/search.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{root}}js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{root}}js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{root}}js/navigation.js"></script>
<script type="text/javascript" charset="utf-8" src="{{root}}js/sidebar.js"></script>
<script type="text/javascript" charset="utf-8" src="{{root}}js/jquery.gist.js"></script>

{% raw %}
<script id="search-results-template" type="text/mustache">
{{#entries}}
<div><a href="#{{url}}">{{title}}</a></div>
{{/entries}}
</script>
{% endraw %}

<script type="text/javascript">
var lunrIndexLoaded = false;
function loadLunrIndex() {
  if(lunrIndexLoaded) {
    document.getElementById('search-results').style.visibility = 'visible';
    return;
  }
  console.log("loading index...");
  $('#search-query').lunrSearch({
    indexUrl: '/search.json',
    results:  '#search-results',
    entries:  '.entries',
    template: '#search-results-template'
  });
  console.log("loaded");
  lunrIndexLoaded = true;
}

function hideSearchResults() {
  document.getElementById('search-results').style.visibility = 'hidden';
}
</script>
