<script type="text/javascript" src="{{root}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{root}}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{root}}js/jquery.fancybox.pack.js"></script>

<script type="text/javascript" src="{{root}}js/search-swiftype.js"></script>
<script type="text/javascript" src="{{root}}js/jquery.swiftype.autocomplete.js"></script>
<script type="text/javascript" src="{{root}}js/jquery.ba-hashchange.min.js"></script>
<script type="text/javascript" src="{{root}}js/jquery.swiftype.search.js"></script>