<div class="container">
  <div class="row">
    <div id="breadcrumbs"></div>
    {% if page.categories == null %}
      <div id="content" class="col-md-12">
    {% else %}
      <div class="col-md-3">
        <div id="sidebar_menu" class="well tree" role="complementary"></div>
      </div>
      <div id="content" class="col-md-9">
    {% endif %}
        <h1 style="margin-top: 0px;">{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>
  </div>
</div><!-- /container -->
<script>
var hash = location.hash.replace( /^#/, '' );
if(hash && hash!== null && hash.match(/html$/)) {
} else {
  var newLocation = location.protocol+"//"+location.host+"#"+location.pathname;
  location.replace(newLocation);
}
</script>
<script type="text/javascript" src="/js/post-layout.js"></script>
<script>
$(document).ready(function () {
  makeSideBar('{{ page.categories }}', '{{page.node_name}}');
  createBreadcrumbs('{{ page.categories }}', '{% currentsection %}');
});
</script>

<script>
$("div[data-gist]").gist();
</script>
